/* https://github.com/begoon/begoon.github.com/blob/master/css/screen.css */

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif;
  margin: 0px 100px 0px 120px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif;
  line-height: 2em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #808080;
}

blockquote {
  font-style: italic;
  padding-left: 1em;
  border-left: 4px solid rgba(170, 170, 170, 0.5);
}

ul {
  margin-bottom: 2em;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: left;
  width: 95%;
  margin: 1em auto 2em auto;
}

.site .menu {
  color: #4c4c4c;
  /*
  color: #a00;
  */
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 0em;
  border-bottom: 4px solid #eee;
}

.site .menu a {
  color: #4c4c4c;
  /*
  color: #000;
  */
}

.title {
  color: #4c4c4c;
  /*
  color: #a00;
  text-shadow: black 1px 1px 2px, black 0 0 1em;
  */
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 0em;
}

.site .title a {
  color: #a00;
}

.site .title a:hover {
  color: black;
}

.site .title a.extra {
  color: #aaa;
}

.site .title a.extra:hover {
  color: black;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
  margin-bottom: 2em;
  font-size: 110%;
}

/* standard */

#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul,
#post ol {
  margin-left: 1.35em;
}

#post code {
  font-family: Menlo, Monaco, "Andale Mono", "Lucida console", "Courier New", monospace;
  font-size: 80%;
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
  border-radius: .4em;
}

#post pre code {
  border: none;
}

#post img {
  border: 1px solid #000;
}

/* comments */
.post_footer {
  zoom: 1;
  clear: both;
  border-top: 1px dotted #DEE2E7;
  border-top: 1px dotted rgba(0, 0, 0, 0.2);
  padding: 10px 0 0;
  margin: 10px 0 0;
}
.post_footer a {
  float: right;
  display: block;
  width: 136px;
  height: 13px;
  text-indent: -9999em;
  background: url(../img/disqus.png);
}


/*****************************************************************************/
/*
/* Images
/*
/*****************************************************************************/

#img_logo {
  background-image: url(../img/fist.png);
  position: fixed; 
  border: 0;
  top: 16px; 
  left: 16px; 
  height: 110px;
  width: 110px;
}

#img_fork {
  background-image: url(https://a248.e.akamai.net/assets.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67);
  position: fixed; 
  border: 0;
  top: 0; 
  right: 0; 
  height: 149px;
  width: 149px;
}

#img_feed {
  background-image: url(../img/feed.png);
  position: fixed;
  border: 0;
  border: 0;
  top: 150px; 
  left: 55px; 
  height: 32px;
  width: 32px;
}

#img_mail {
  background-image: url(../img/mail.png);  
  position: fixed;
  border: 0;
  border: 0;
  top: 200px; 
  left: 55px; 
  height: 32px;
  width: 32px;
}
