<!DOCTYPE html>
<html lang="ru">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>runningmaster's githublog {{if not .Index}} : {{.Post.Name}} {{end}}</title>
  <link rel="stylesheet" href="./css/dsgn.css" type="text/css" media="screen, projection" />
  <link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" />
  <link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" />
  <link href="/img/fist.png" rel="icon" />
  <!--
  <link rel="stylesheet" type="text/css" href="/css/highlight.css" />
  <link rel="alternate" title="githublog FIXME" href="/atom.xml" type="application/atom+xml">
  -->
</head>

<body>
  <a href="http://runningmaster.github.com/" title="Home" id="img_logo"></a>
  <a href="https://github.com/runningmaster/" title="Fork me on GitHub" id="img_fork"></a>
  <a href="/feed.xml" title="Feed" id="img_feed"></a>
  <a href="mailto:runningmaster@gmail.com" title="Mail" id="img_mail"></a>

  <div class="site">

    <div class="menu">
      <a href=".">home</a> <!--|
      <a href="/">about</a> -->
    </div>

    <div id="home">
      
      {{if .Index}}

      <div class="title"> 
      Простое лучше, чем сложное / Сложное лучше, чем запутанное. 
      </div>
      
      <ul class="posts">
        {{range .Posts}}
        <li id="post_{{.Indx}}">
          <span>{{.Date}}</span> 
          &raquo; 
          <a href="{{.File}}{{`.html`}}">{{html .Name}}</a>
        </li>
        {{end}}
      </ul>

      {{else}}

      <div class="title"> 
      {{.Post.Date}}
      </div>

      <h1>{{html .Post.Name}}</h1>
      <div id="post">
        {{.Post.Body}}
      </div>

      {{end}}
      <!--
      <hr />
      -->
      
      <div class="footer">
        <div class="contact">
          &copy; 2012
          <a href="mailto:runningmaster@gmail.com">Dmitriy Kovalenko</a> | 
          <a href="https://github.com/runningmaster/runningmaster.github.com/blob/master/src/main.go">Made on Go</a>
          <!--
          <a href="/feed.xml" rel="subscribe-rss" title="Подписаться через RSS">RSS</a>
          -->
        </div>
      </div>

    </div>
  </div>
</body>

</html>