<!DOCTYPE html>
<html lang="ru">

<head>
 	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
 	<title>{{.Site}}{{if not .Home}} : {{.Post.Name}}{{end}}</title>
 	<link rel="stylesheet" href="./src/dsgn.css" type="text/css" media="screen, projection" />
 	<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" />
 	<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" />
 	<link href="/img/favicon.png" rel="icon" />
 	<link rel="alternate" title="{{.Site}}" href="/feed.xml" type="application/atom+xml">
 	<!--
 	<link rel="stylesheet" type="text/css" href="/css/highlight.css" />
 	-->
 	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-31528830-1']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>  
</head>

<body>
	<a href="{{.Host}}/" title="Home" id="img_logo"></a>
	<a href="{{.Ghub}}/" title="Fork me on GitHub" id="img_fork"></a>
	<a href="/feed.xml" title="Feed" id="img_feed"></a>
	<a href="mailto:{{.Mail}}" title="Mail" id="img_mail"></a>
 	<div class="site">
		<div class="menu">
			<a href=".">home</a> | 
			<a href="./about.html">about</a>
		</div>
		<div id="home">
			{{if .Home}}
			<div class="title">
				{{.Home}}
			</div>
			<ul class="posts">
				{{range .Posts}}{{if .Date}}
				<li id="{{.File}}">
					<span>{{.Date}}</span> 
					&raquo; 
					<a href="{{.File}}{{`.html`}}">{{html .Name}}</a>
				</li>
				{{end}}{{end}}
			</ul>
			{{else}}
			<div class="title"> 
				{{if .Post.Date}}{{.Post.Date}}{{else}}page{{end}}
			</div>
			<h1>{{html .Post.Name}}</h1>
			<div id="post">
				{{.Post.Body}}
			</div>
			{{if .Post.Date}}
			<h1>Комментарии</h1>
			<div id="disqus_thread"></div>
			<div id="disqus_thread"></div>
			<script type="text/javascript">
			    var disqus_shortname = '{{.Dqus.Name}}';
			    var disqus_developer = {{.Dqus.Test}};
			    var disqus_identifier = '{{.Dqus.Post}}';
			    var disqus_url = '{{.Dqus.Addr}}';
			    var disqus_script = 'embed.js';
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<div class="post_footer">
				<a href="http://disqus.com">Powered by Disqus</a>
			</div>
			{{end}}{{end}}
			<div class="footer">
				<div class="contact">
					&copy; 2012
					<a href="mailto:{{.Mail}}" title="Написать письмо">{{.Name}}</a> | <a href="/feed.xml" rel="subscribe-rss" title="Подписаться через RSS">RSS</a> | <a href="{{.Ghub}}/runningmaster.github.com/blob/master/src/main.go" title="Посмотреть код">Made on Go</a>
				</div>
			</div>

		</div>
	</div>
</body>

</html>